<!-- dialog-box.component.html -->
<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>

  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} login" matInput [(ngModel)]="local_data.login">
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'; ">
    <input placeholder="{{action}} pwd" matInput [(ngModel)]="local_data.pwd">
  </mat-form-field>


  <mat-form-field *ngIf="action != 'Delete'; ">
      <mat-label>Choose an option</mat-label>
      <mat-select  [(ngModel)]="local_data.role">
        <mat-option value="ROLE_USER">ROLE_USER</mat-option>
        <mat-option value="ROLE_ADMIN">ROLE_ADMIN</mat-option>
      </mat-select>
  </mat-form-field>

  





  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.login}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>